{% load webdesign %}
{% load staticfiles %}
{% block about_section %}
<div id="about" class="row section about-section">
  <div class="container">
     <!-- First row -->
    <div class="row">
      <h1>What is it?</h1>
      <div class="col-md-6">
        <h4>
          <p><strong>Remind Me!</strong> is here to help remind you!</p>
          <p>More specifically, its a tool that allows the creation of instant one-time or scheduled reminders. All of which are delivered directly to your phone at the time you specify.</p>
        </h4>
      </div>
      <div id="confused_stick" class="col-md-6">
        <img class="questionmark q1 questionfloat" src="{% static 'SMSApp/images/questionmark.png' %}"/>
        <img class="questionmark q2 questionfloat2" src="{% static 'SMSApp/images/questionmark.png' %}"/>
        <img class="questionmark q3 questionfloat3" src="{% static 'SMSApp/images/questionmark.png' %}"/>
        <img class="stickfigure" src="{% static 'SMSApp/images/stickfigure.png' %}"/>
      </div>
    </div>
     <!-- End first row -->
     <!-- Second row -->
    <div class="row sub-section">
      <h1>How does it work?</h1>
      <div class="col-xs-12 col-sm-12 col-md-12">
          <h4><p>It is as simple as a few steps!</p></h4>
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                  <h4>
                      <p><strong>Step 1:</strong> Enter your phone number or a friends phone number that you need to remind.</p>
                      <p><strong>Step 2:</strong> Select a date or time to be reminded.</p>
                      <p><strong>Step 3:</strong> Enter your reminder!</p>
                  </h4>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <h4>
                    <p><strong>Step 4:</strong> Enter your network provider!</p>
                    <p><strong>Step 5:</strong> Click the <strong>Remind Me!</strong> button and you're done!</p>
                </h4>
              </div>
          </div>
      </div>
    </div> 
    <!-- End Second row -->
  </div>
</div>
{% endblock about_section %}