
{% block blacklist_section %}
<div id="blacklist" class="row section blacklist-section">
  <div class="container">
    <div class="row">
      <h1>Need a number blocked?</h1>
    </div>
    <div class="row">
    <div class="col-md-6">
      {% block blocknumber_form_section %}
        {% include "SMSApp/forms/blocknumber_form.html" %}
      {% endblock blocknumber_form_section %}
    </div>
      <div class="col-md-6">
        <h4>
          <p>Simply enter a phone number in the field and that number will no longer receive any more messages from SMSApp</p>
          <p>Reasons for this could be someone is sending unwanted messages to a phone number that is not their own.</p>
        </h4>
      </div>

    </div>
  </div>
</div>
{% endblock blacklist_section %}