{% load webdesign %}
{% block faq_section %}
<div id="faq" class="row section faq-section">
  <div class="container">
    <div class="row">
      <h1>Frequently Asked Questions ( FAQ )</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Is it free?</h4>
        Yes!
        <h4>Will I get spammed?</h4>
        No, you can choose to add your phone number to the blacklist, which will prevent any future messaging to your phone.
        <h4>Can I cancel my messages if I make a mistake?</h4>
        Yes, you can cancel your message from being sent anytime.
      </div>
    </div>
  </div>
</div>
{% endblock faq_section %}