{% load webdesign %}
{% load staticfiles %}
{% block about_section %}
<div id="pricing" class="row section pricing-section">
  <div class="container">
    <div class="row ">
      <h1>Is it Free?</h1>
      <div class="col-md-12">
        <h4>
          <p>YES! Our service is <strong>FREE</strong> to use. If you sign up there are even tons more features available for you!</p>
        </h4>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered price-table">
            <thead>
            <tr class="price-table-row-header">
                <th class="price-table-cell-header">Features</th>
                <th class="price-table-cell-header">Free</th>
                <th class="price-table-cell-header info">Premium</th></tr>
            </thead>
            <tbody>
            <tr>
                <td>Feature 1</td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
            <tr><td>Feature 2</td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
            <tr><td>Feature 3</td>
                <td class="danger"><span class="glyphicon glyphicon-remove red"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
            <tr><td>Feature 4</td>
                <td class="danger"><span class="glyphicon glyphicon-remove red"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
            <tr><td>Feature 5</td>
                <td class="danger"><span class="glyphicon glyphicon-remove red"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
            <tr>
                <td>Feature 5</td><td class="danger"><span class="glyphicon glyphicon-remove red"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td></tr>
            <tr>
                <td>Feature 6</td>
                <td class="danger"><span class="glyphicon glyphicon-remove red"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td></tr>
            <tr>
                <td>Feature 7</td><td class="danger"><span class="glyphicon glyphicon-remove red"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td></tr><tr><td>Feature 8</td>
                <td class="danger"><span class="glyphicon glyphicon-remove red"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td></tr>
            <tr>
                <td>Feature 9</td><td class="danger"><span class="glyphicon glyphicon-remove red"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock about_section %}