{% load webdesign %}
{% load staticfiles %}
{% block about_section %}
<div id="pricing" class="row section pricing-section">
  <div class="container">
    <div class="row ">
      <h1>Is it Free?</h1>
      <div class="col-md-12">
        <h4>
          <p>YES! Our service is completely <strong>FREE</strong> to use. If you register there are even more features available for you!</p>
        </h4>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered price-table">
            <thead>
            <tr class="price-table-row-header">
                <th class="price-table-cell-header">Features</th>
                <th class="price-table-cell-header">Free</th>
                <th class="price-table-cell-header info">Registered</th></tr>
            </thead>
            <tbody>
            <tr>
                <td><strong>FREE</strong> messaging</td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
            <tr><td>Scheduled messaging</td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
            <tr><td>Management Dashboard</td>
                <td class="danger"><span class="glyphicon glyphicon-remove red"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
            <tr><td>Contacts List</td>
                <td class="danger"><span class="glyphicon glyphicon-remove red"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
            <tr><td>Quick Contact messaging</td>
                <td class="danger"><span class="glyphicon glyphicon-remove red"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
            <tr><td>Ability to cancel messages</td>
                <td class="danger"><span class="glyphicon glyphicon-remove red"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td>
            </tr>
            <tr>
                <td>Ability to view upcoming messages</td><td class="danger"><span class="glyphicon glyphicon-remove red"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td></tr>
            <tr>
                <td>Ability to view sent messages</td>
                <td class="danger"><span class="glyphicon glyphicon-remove red"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span></td></tr>
            <tr>
                <td>Saved profile information</td><td class="danger"><span class="glyphicon glyphicon-remove red"></span></td>
                <td class="success"><span class="glyphicon glyphicon-ok green"></span>
                </td>
            </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock about_section %}