{% load staticfiles %}
{% load webdesign %}
<div id="contacts" class="col-md-12">
 {#      Tabler header controls#}
    <div class="panel panel-primary">
      <div class="panel-heading">
                  <div class="row text-center">
          <h4>Contacts</h4>
        </div>

      </div>
        <div class="panel-body panel-controls">
                        <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="btn-group">
                  <button type="button" class="btn btn-default">
                      <a href="{% url 'user_contacts' user 'favorite'%}">Favs</a>

                  </button>
                  <button type="button" class="btn btn-default">
                      <a href="{% url 'user_contacts' user 'recent'%}">Most Recent</a>
                  </button>
                  <button type="button" class="btn btn-default">
                      <a href="{% url 'user_contacts' user 'az'%}">A-Z</a>
                  </button>
                  <button type="button" class="btn btn-default">
                      <a href="{% url 'user_contacts' user 'za'%}">Z-A</a>
                  </button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <div class="input-group">
                  <input id='contact_search' type="text" class="form-control">
                  <span class="input-group-btn">
                    <button id="contact_search" class="btn btn-default" type="button"><a id="contact_search_url" href="{% url 'user_contacts' user 'search' %}">Search</a></button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
             <button id="contactAdd" type="button" class="btn btn-info btn-block" data-container="body" data-toggle="popover" data-placement="bottom">Add</button>

            </div>
            </div>
        {#    Contact listings#}
      <div class="panel-body">
      {% if friends %}
          {%  for friend in friends %}
              <li class="contact-item" data-uuid='{{ friend.uuid }}' data-first='{{ friend.first_name }}' data-last='{{ friend.last_name }}' data-number='{{ friend.phone_number }}' data-network='{{ friend.network }}' data-favorite='{{ friend.favorite }}'>
                  <div class="col-sm-6 col-md-4 col-lg-3">
                      <div class="panel panel-info {% if friend.favorite == True %}favorite {% endif %}">
                          <div class="panel-heading ">
                              <div class="panel-title"  >{{ friend.first_name }} {{ friend.last_name }}
                              <a href="{% url 'user_contacts' user 'delete' friend.uuid%}">
                                  <span class="hoverhand glyphicon glyphicon-remove contact-icon"></span>
                              </a>
                              <span  data-container="body" data-toggle="popover" data-placement="bottom" class="hoverhand glyphicon glyphicon-edit contact-icon"></span>
                              {% if friend.favorite == True %}
                                   <span class="glyphicon glyphicon-star contact-icon"></span>
                              {% else %}
                                   <span class="glyphicon glyphicon-star-empty contact-icon"></span>
                              {% endif %}

                              </div>
                          </div>
                          <div class="panel-body">
                              <div >
                                  {{ friend.phone_number }}
                              </div>
                              <div >
                                  {% if friend.phone_number != None %}
                                    {{ friend.last_message }}
                                  {% else %}
                                  Never
                                  {% endif %}
                                  <span  data-container="body" data-toggle="popover" data-placement="bottom" class="hoverhand glyphicon glyphicon-envelope contact-icon"></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>

          {% endfor %}
          {% else %}
          <p class="text-center"> Well this is embarrassing, you have no friends. Perhaps you should add one!</p>

      {% endif %}
      </div>
        </div>
    </div>

</div>
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="popoverContent hide">
  {% include "SMSApp/forms/add_contact_form.html" %}
</div>
<div class="popoverEditContent hide">
  {% include "SMSApp/forms/edit_contact_form.html" %}
</div>
<div class="popoverMessageContent hide">
  {% include "SMSApp/forms/message_contact_form.html" %}
</div>
<script>

    var popoverContent = $(".popoverContent").html();
    $(".popoverContent").remove();
    var popoverMessageContent = $(".popoverMessageContent").html();
    $(".popoverMessageContent").remove();
    var popovereditContent = $(".popoverEditContent").html();
    var contactSearchUrl = $('#contact_search_url').attr('href');
    $(".popoverEditContent").remove();
    $('#contactAdd').popover({
        html: true,
        content: function(){
            return popoverContent;
        }
    })
    $('.glyphicon-envelope').popover({
        html: true,
        content: function(e){
            return popoverMessageContent;
        }
    })
    $('.glyphicon-edit').popover({
        html: true,
        content: function(){
            return  popovereditContent;
        }
    })
    $('.glyphicon-envelope').on('shown.bs.popover', function(){
        dateHandler();

                var contactItem = $(this).parents('.contact-item'),
                phonenumber = contactItem.data("number"),
                network = contactItem.data("network"),
                popover = $('.popover-content');
            $('#id_phone_number', popover).val(phonenumber);
            $('#id_network', popover).val(network);
    });
    $('.glyphicon-edit').on('shown.bs.popover', function(){
                var contactItem = $(this).parents('.contact-item'),
                uuid = contactItem.data("uuid"),
                firstname = contactItem.data("first"),
                lastname = contactItem.data("last"),
                phonenumber = contactItem.data("number"),
                network = contactItem.data("network"),
                favorite = contactItem.data("favorite") == "True" ? true:false,
                popover = $('.popover-content');
            $('#id_uuid', popover).val(uuid);
            $('#id_first_name', popover).val(firstname);
            $('#id_last_name', popover).val(lastname);
            $('#id_phone_number', popover).val(phonenumber);
            $('#id_network', popover).val(network);
            $('#id_favorite', popover).prop("checked",favorite);

    });
    $('body').on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
    });

    $('#contact_search').on('input', function (e){
        $('#contact_search_url').attr("href",contactSearchUrl + this.value );
    });

    var dateHandler = function(){
        var datepicker = $('.contactdatetimepicker')
        datepicker.datetimepicker();
          $("#remind_me_submit").click(function(e){
          var date = datepicker.data("DateTimePicker");

          if(date !== null){
            e.preventDefault();
            date = moment(date).zone('-0500').format('YYYY-MM-DD HH:mm');
            $("#id_date").val(date);
            $("#reminder_form").submit();
          }else{

          }

      })

      $("#id_date2").on("input", function(e){
          datepicker.data("DateTimePicker", null);
          console.log(e);
          $("#id_date").val(this.value)
      });

      datepicker.on("dp.show", function(e){
          console.log(e);
          // $("#id_date2").val("")
          // $("#id_date").val(this.value)
      });
      datepicker.on("dp.change", function(e){
          datepicker.data("DateTimePicker", e.date);
          console.log(e);
          // $("#id_date2").val("")
          // $("#id_date").val(this.value)
      });
    }
</script>