{% load staticfiles %}
{% load webdesign %}
<div id="dashboard" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dashboard">
    <div class="panel panel-primary">
        {#      <div class="panel-heading">#}
        {#        <div class="row text-center">#}
        {#          <h4>Create Reminders</h4>#}
        {#        </div>#}
        {#      </div>#}
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {% include "SMSApp/forms/user_reminder_form.html" %}
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 dashboard">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="text-center">Recently Sent Messages</h4>
                </div>
                {% if sentmessages %}
                    <table class="table table-striped">

                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Number</th>
                            <th>Message</th>
                            <th>Time</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for message in sentmessages %}
                            <tr>
                                <td>{{ forloop.counter0 }} </td>
                                <td>{{ message.number }} </td>
                                <td> {{ message.text }} </td>
                                <td> {{ message.time }} CST</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="panel-body">
                        There are no messages to display
                    </div>
                {% endif %}
            </div>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 dashboard">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="text-center">Upcoming Messages</h4>
                </div>
                {% if messagequeue %}
                    <table class="table table-striped">

                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Number</th>
                            <th>Message</th>
                            <th>Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for message in messagequeue %}
                            <tr>
                                <td>{{ forloop.counter0 }}</td>
                                <td>{{ message.number }}</td>
                                <td>{{ message.text }}</td>
                                <td>{{ message.time }} CST</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="panel-body">
                        There are no messages to display
                    </div>
                {% endif %}
            </div>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 dashboard">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="text-center">Recent Contacts</h4>
                </div>
                <div class="panel-body">
                    {% if friends %}
                        {% for friend in friends %}
                            <li class="contact-item" data-uuid='{{ friend.uuid }}' data-first='{{ friend.first_name }}' data-last='{{ friend.last_name }}' data-number='{{ friend.phone_number }}' data-network='{{ friend.network }}' data-favorite='{{ friend.favorite }}'>
                                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                    <div class="panel panel-info {% if friend.favorite == True %}favorite {% endif %}">
                                        <div class="panel-heading ">
                                            <div class="panel-title">{{ friend.first_name }} {{ friend.last_name }} - {{ friend.last_messaged }}
                                                {% if friend.favorite == True %}
                                                    <span class="glyphicon glyphicon-star contact-icon"></span>
                                                {% else %}
                                                    <span class="glyphicon glyphicon-star-empty contact-icon"></span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div>
                                                {{ friend.phone_number }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        You haven't messaged any friends!
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
