{% extends "SMSApp/base/base.html" %}
<!-- MAIN MENU -->
{% block main_menu %}
    {% include "SMSApp/sections/menu.html" %}
{% endblock main_menu %}

<!-- USER MENU -->
{% block user_menu %}
   {% include "SMSApp/user/user_menu.html" %}
{% endblock user_menu %}

<!-- USER CONTROL CONTENT -->
{% block content %}
<div class="row">
  <!-- User Control Menu -->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
{#    <ul id="user_menu" class="nav nav-pills nav-stacked">#}
{#    <li class="{% ifequal pagetype "dashboard" %}active{% endifequal %}"><a href="{% url 'user_dashboard' user %}">Dashboard</a></li>#}
{#    <li class="{% ifequal pagetype "contacts" %}active{% endifequal %}"><a href="{% url 'user_contacts' user %}">Contacts</a></li>#}
{#      <li class="{% ifequal pagetype "profile" %}active{% endifequal %}"><a href="{% url 'user_profile' user %}">Profile</a></li>#}
{#      <li class="{% ifequal pagetype "messages" %}active{% endifequal %}"><a href="{% url 'user_messages' user %}">Messages</a></li>#}
{#      <li class="{% ifequal pagetype "password" %}active{% endifequal %}"><a href="{% url 'user_password' user %}">Change Password</a></li>#}
{#      <li class="{% ifequal pagetype "billing" %}active{% endifequal %}"><a href="{% url 'user_billing' user %}">Billing</a></li>#}
{#    </ul>#}
  </div>
</div>
<div class="row">
  <!-- User Control Content -->
  <!-- MESSAGES SECTION -->
  {% block message_section %}
    {% include "SMSApp/base/messages.html" %}
  {% endblock message_section %}
    {% if pagetype == "dashboard" %}
      {% include "SMSApp/user/user_dashboard.html" %}
    {% endif %}

    {% if pagetype == "profile" %}
      {% include "SMSApp/user/user_profile.html" %}
    {% endif %}
    
    {% if pagetype == "messages" %}
      {% include "SMSApp/user/user_messages.html" %}
    {% endif %}
    
    {% if pagetype == "password" %}
      {% include "SMSApp/user/user_password.html" %}
    {% endif %}
    
    {% if pagetype == "billing" %}
      {% include "SMSApp/user/user_billing.html" %}
    {% endif %}
    {% if pagetype == "contacts" %}
      {% include "SMSApp/user/user_contacts.html" %}
    {% endif %}
</div>

{% endblock content %}