{% load staticfiles %}
{% load webdesign %}
{% load widget_tweaks %}
<div id="profile" class="col-md-12 dashboard">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="text-center">Upcoming Messages</h4>
        </div>
                {% if messagequeue %}
        <form role="form" action="/SMSApp/delete_messages/" method='post'>{% csrf_token %}
            {{ form.non_field_errors }}

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Number</th>
                    <th>Message</th>
                    <th>Time</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>

                {% for message in messagequeue %}
                    <tr>
                        <td>{{ forloop.counter0 }} </td>
                        <td>{{ message.number }} </td>
                        <td> {{ message.text }} </td>
                        <td> {{ message.time }} CST</td>
                        <td><input type="checkbox" name="{{ message.uuid }}"/></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="div-button-center">
                <button class="btn btn-danger btn-lg">Delete Selected Messages</button>
            </div>

        </form>
        {% else %}
            <div class="panel-body text-center">
                There are no messages to display
            </div>
        {% endif %}
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="text-center">Sent Messages</h4>
        </div>
        {% if sentmessages %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Number</th>
                    <th>Message</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>

                {% for message in sentmessages %}
                    <tr>
                        <td>{{ forloop.counter0 }} </td>
                        <td>{{ message.number }} </td>
                        <td> {{ message.text }} </td>
                        <td> {{ message.time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="panel-body text-center">
                There are no messages to display
            </div>
        {% endif %}
    </div>
</div>
