{% load widget_tweaks %}
{% block profile_password_form %}
       <form role="form" action="/SMSApp/update_password/" method='post'>{% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.subject.errors }}
              <label for="password">Old Password:</label>
                {{ form.password|attr:"type:password" |add_class:"form-control" }}
            </div>
            <div class="fieldWrapper">
                {{ form.subject.errors }}
              <label for="password">New Password:</label>
                {{ form.new_password|attr:"type:password" |add_class:"form-control" }}
            </div>
            <div class="fieldWrapper">
                {{ form.subject.errors }}
              <label for="password">Confirm Password:</label>
                {{ form.confirm_password|attr:"type:password" |add_class:"form-control" }}
            </div>
            <div class="div-button-center">
                    <button type="submit" class="btn btn-primary btn-lg">Save changes</button>
            </div>
          </form>
{% endblock profile_password_form %}