
{% load staticfiles %}
{% load webdesign %}
{% load widget_tweaks %}
{% block profile_form %}
      
       <form role="form" action="/SMSApp/update_profile/" method='post'>{% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.email.errors }}
              <label for="email">Email:</label>
                {{ form.email|attr:"type:text" |add_class:"form-control" }}
            </div>
            <div class="fieldWrapper">
                {{ form.first_name.errors }}
              <label for="first_name">First Name:</label>
                {{ form.first_name|attr:"type:text" |add_class:"form-control" }}
            </div>
            <div class="fieldWrapper">
                {{ form.last_name.errors }}
              <label for="last_name">Last Name:</label>
                {{ form.last_name|attr:"type:text" |add_class:"form-control" }}
            </div>
            <div class="fieldWrapper">
                {{ form.phone_number.errors }}
              <label for="phone_number">Phone Number:</label>
                {{ form.phone_number|attr:"type:text" |add_class:"form-control" }}
            </div>
            <div class="fieldWrapper">
                {{ form.network.errors }}
                <label for="network">Network</label>
                {{ form.network|attr:"type:text" |attr:"placeholder:  txt.att.net"|add_class:"hidden form-control" }}
                {% include "SMSApp/sections/network.html" %}
            </div>


            <div class="div-button-center">
                    <button type="submit" class="btn btn-primary btn-lg">Save changes</button>
            </div>
          </form>
      
{% endblock profile_form %}